<div class="name">
<h1><%= activity.title %></h1>
</div>
<% if activity.website %>
<div id="website">
  <a href="<%= activity.website %>"><%= activity.website %></a>
</div>
<% end %>
<% if activity.adults_only or activity.is_free %>
<div class="row">
  <p><% if activity.adults_only %>18+ <% end %><% if activity.is_free %>FREE <% end %></p>
</div>
<% end %>
<% if activity.description %>
  <div class="row">
    <p><%= activity.description %></p>
  </div>
<% end %>
<% if activity.phone_number %>
<fieldset>
  <div class="row">
    <p>Phone: <%= activity.phone_number %></p>
  </div>
</fieldset>
<% end %>
<% if ( activity.locations || activity.locations_tag ) %>
<ul>
<% locs = [] %>
<% locs += activity.locations if activity.locations %>
<% locs += data.locations.select{ |id,place| place.tags.include? activity.locations_tag if place.tags }.keys if activity.locations_tag %>
<% locs.sort.uniq.each do |location| %>
  <li><a href="/location/<%= location %>"><%= data.locations[location].title %></a></li>
<% end %>
</ul>
<% end %>
