<div id="name">
<h1><%= place.title %></h1>
</div>
<% if place.website %>
<div id="website">
<a href="<%= place.website %>"><%= place.website %></a>
</div>
<% end %>
<% if place.address %>
<div id="address"><%= place.address %><% if place.city %>, <%= place.city %><% end %></div>
<% end %>
<% if place.phone %>
<div id="phone">
Phone: <%= place.phone %>
</div>
<% end %>
<% if place.description %>
<div id="description"><%= place.description %></div>
<% end %>
